@model HousingDomain.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiseLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiseLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
